/* General ================
    Create By : Abdulhakim magdi
    Email : Horrible.guy@outlook.com
    phone :+201149493386
*/
@charset=("utf-8");

body{
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%}
body, html {
    height: 100%;
    width: 100%!important;
}
body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    color: #fff;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    -webkit-transition: all .45s;
    transition: all .45s;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
a:active, a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}
a, button, input, select, textarea {
    outline: 0;
    border: none;
}
img {
    width: 100%;
    vertical-align: middle;
    border: none;
}
form, p, table, ul {
    font-size: 1.4rem;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 15px 0;
    font-family: inherit;
    line-height: inherit;
}
h1, h2, h3, h4, h5, h6, label{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.fa {
    margin: 0;
    vertical-align: middle;
}
.form-group:last-of-type {
    margin-bottom: 0;
}
label {
    font-weight: inherit;
}
textarea {
    resize: none;
}
option, select {
    padding: 10px 20px;
}
.btn {
    color: inherit;
    background: inherit;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: ;
}
h6 {
    font-size: 0;
}
p {
    font-size: 14px;
}
li {
    list-style: none;
}
.clearfix:after, .clearfix:before {
    display: table;
    content: " "
}
.clearfix:after{
    clear: both;
}
.bg-red{
    background: #c82c32
}
.bg-grey{
    background: #d7dadb
}

.bg-grey1{
    background: #dfdfdf
}

.bg-black{
    background: #2c2c2c
}

.bg-white{
background:#fff;
}

.c-grey{
    color: #bfbfbf
}
.c-black{
    color: #000
}
.c-red{
    color: #c40008
}

.red-bg{
    background: #c40008
}

.c-block{
    display: block;
}

.c-inline{
    display: inline-block;
}

.c-blue{
    color: #5d7bfd
}

/*Grid System*/
.col-md-12 {
    width: auto;
    float: none;
    padding: 0;
}
.col-md-11 {
    width: 91.6666667%;
    float: left;
}
.col-md-10 {
    width: 83.3333333%;
    float: left;
}
.col-md-9 {
    width: 75%;
    float: left;
}
.col-md-8 {
    width: 66.66666667%;
    float: left;
}
.col-md-7 {
    width: 58.33333333%;
    float: left;
}
.col-md-6 {
    width: 50%;
    float: left;
}
.col-md-5 {
    width: 41.66666667%;
    float: left;
}
.col-md-4 {
    width: 33.3333333%;
    float: left;
}
.col-md-3 {
    width: 25%;
    float: left;
}
.col-md-2 {
    width: 16.6666667%;
    float: left;
}
.col-md-1 {
    width: 8.33333333%;
    float: left;
}

/*index*/
/*Header*/

.wrapping1{
    margin: 35px 0;
}
.logo{
    float: left;
}
.social-icons{
    float: right;
    margin-top: 15px
}
.social-icons li{
    display: inline-block;
}
.social-icons li a{
    font-size: 1.5rem;
    border-radius: 0;
    padding: 5px 12px; 
    margin-right: 10px
}

.social-icons li .language{
    background: #c92c33;
    padding: 4px 25px;
    font-size: 1.8rem;
    font-family: 'Droid Arabic Kufi', helvetica,arial,sans-serif
}
.fa-facebook{
    background: #3a589b;
}
.fa-twitter{
    background: #598dca
}
.fa-youtube{
    background: #cf3427
}
.fa-linkedin{
    background: #e19126
}
.header-nav{
    background: rgba(0, 0, 0, .8);
    padding: 20px 45px;
     position: absolute;
    right: 0;
    left: 0;
    top: 93px;
    z-index: 9;

}
.header-nav li a{
    float: left;
    font-size: 1.8rem;
    padding: 0 20px;
    margin-top: 10px;
    border-right: 1px solid rgba(0, 0, 0, .5)
}
.our-search{
    float: right;
}
.search-btn ,.search-bar{
    border-radius: 0;
}
.search-btn{
    padding: 10px 15px
}
.search-bar{
    padding: 20px 15px 
}
.slider{
    position: relative;
}

.carousel-indicators{
    right: 0;
    left: 124%;
    bottom: 124px;
    width: auto;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 27%;
}

.carousel-indicators .active{
    background-color: #c40008
}

.carousel-indicators li{
    background-color: #fff;
}

.carousel-caption{
    background-color: rgba(255, 255, 255, .7);
    padding: 15px 35px;
    left: 2%;
    right: 43%;
    bottom: 28%
}
.caption-head{
    text-align: left;
    padding-left: 6px;
}

.service-shape{
    background: #940309; 
    background: -webkit-linear-gradient(#940309, #640205);
    background: -o-linear-gradient(#940309, #640205);
    background: -moz-linear-gradient(#940309, #640205);
    background: linear-gradient(#940309, #640205);
    padding: 25px;
    font-size: 1.2rem;
    position: absolute;
    top: -100px
}
.service-shape li{
    width: 96%;
    line-height: 2
}
.left-shape{
    margin-left: 65px;
    left: 0;
}

.right-shape{
    margin-right: 65px;
    right: 0
}
.our-news{
    margin-top: 130px
}
.our-news ul li{
    list-style: disc;
}

.doct-adv{
    
    height: 249px;
    margin-top: 45px;
    margin-bottom: 20px; /* added by me to fix it for awhile  off*/
    width: 711px
}

.advertisement img{
    height: 435px
}

.wrapping2{
    width: 50%;
    float: right;
    text-align: left;
    padding-left: 40px;
    padding-top: 35px;
}

.booking p,.book-btn{
    font-size: 2rem;
    padding: 50px 30px;
    margin-bottom: 0
}

.book-btn{
    background: #940309; 
    background: -webkit-linear-gradient(#940309, #640205);
    background: -o-linear-gradient(#940309, #640205);
    background: -moz-linear-gradient(#940309, #640205);
    background: linear-gradient(#940309, #640205);
    border: none;
}

.wrapping3{
    background: #f4f4f4;
    color: #626262;
    padding: 25px;
    line-height: 2.5
}
.imp-para{ 
    float: left;
    margin-top: 10px
}
.imp-para{
    padding-right: 15px
}
.imp-type{
    border-bottom: solid 1px #c8c5c5;
}

.footer{
    padding: 25px 30px
}

.footer p{
    margin-top: 15px
}
.footer-left{
    float: left;
}

.footer-right{
    float: right;
}

/*About page*/

.new-carousel-c{
    left: 38%;
    right: 31.5%;
    bottom: 13%;
    top: 39%;
}

.new-carousel-c p{
    display: inline-block;
    padding-right: 5px
}

.new-c-head{
    text-align: center;
    padding-right: 20px
}

.vision,.wrapping4{
    margin: 35px 0
}

/*Branches*/

.contact-inner{
    border: 1px solid #bfbfbf;
}
.contact-us,.contact-us p{
    padding-left: 0;
    font-size: 20px;
    margin-bottom: 0
}
.contact-inner{
    padding: 25px 0
}
.contact-us span{
    padding:0 65px
}
.contact-us .new-ph{
    padding-right: 20%
}

.contact-inner{
    border-bottom: none;
}
.contact-inner:last-child{
    border-bottom: 1px solid #bfbfbf
}
.new-social{
    float: none;
    margin: 0;
    padding-left: 20px
}
.quick-input{
    margin-bottom: 10px;
    -webkit-transition: all .45s;
    transition: all .45s;
}
.send-btn{
    padding: 4px 43px;
    font-size: 2rem;
    -webkit-transition: all .45s;
    transition: all .45s;
}
.send-btn:hover{
    color: #000
}
.our-branches h2{
    margin: 0;
    padding: 10px 0
}
.our-branches li{
   margin: 0;
   padding: 10px 0 
}
.our-branches li{
    font-size: 1.6rem;
    padding-left: 25px;
    border-bottom: 1px solid #bfbfbf
}
.our-branches li:last-child{
    border: none;
}
.map{
    padding-left: 0;
    margin-top: 45px
}
.map-inner{
    width: 100%
}



/*Book*/

.input-grp:first-of-type{
    padding-left: 0;
}
.send-btn2{
    padding: 6px 43px;xxxxxxxxccccccc
}

/*Services*/

.pagi-wrapp{
    margin-bottom: 30px;
    padding-left: 0;
} 
.pagi-wrapp2{
    padding-right: 0;
}
.text-wrapping{
    background: #f4f4f4;
    padding: 15px
}
.pagi-para{
    margin: 0; 
    display: inline-block; 
}
.wrapping5{
    margin-right: -15px
}
.pagination-items{
    text-align: center;
}
.pagination>li>a, .pagination>li>span{
    color: #fff;
    background: #2c2c2c;
    border: none;
    margin-right: 5px;
    padding: 10px 15px
}
.pagination>li>a:hover, .pagination>li>span:hover{
    color: #000;
    background: #fff
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span,
.pagination>.active>span:focus,
 .pagination>.active>span:hover{
    background: #c5080e;
    border: none;
 }
 .pagination>.disabled>a, 
 .pagination>.disabled>a:focus, 
 .pagination>.disabled>a:hover, 
 .pagination>.disabled>span, 
 .pagination>.disabled>span:focus, 
 .pagination>.disabled>span:hover{
    background: #c5080e;
    color: #fff
 }
 .pagination>li:first-child>a, 
 .pagination>li:first-child>span,
 .pagination>li:last-child>a,
  .pagination>li:last-child>span{
    border-radius: 0;
    padding: 10px 20px;
    background: #c5080e
 }
 /*News*/
.new-carousel{
    margin: 35px 0;
    position: relative;
}
.carousel-control{
    width: auto;
    position: static;
    opacity: 1
}
.new-carousel-icon{
    position: absolute;
    right: 32px;
    bottom: 0;
    background: #c92c33;
    padding: 8px 12px;
}
.new-carousel-icon1{
    right: 0
}

.latest-news p{
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-style: italic;
    position: absolute;
    bottom: 11px;
    background: #c92c33;
    left: -45px;
}
.und-carousel{
    padding: 10px 45px;
}
.new-text-wrapping{
    position: absolute;
    bottom: 0;
    right: 16px;
    left: 0;
    background: rgba(223, 223, 223, .85); 
}
.new-text-wrapping p{
    margin-bottom: 0
}
/*Services2*/
.new-text-wrapping2{
    background: rgba(201, 44, 51, .85);
    bottom: 15px;
    right: 26px;
    left: 10px;
}

/*Services3*/
.service-selector h2{
    padding: 15px 0;
    margin-bottom: 0
}
.drop-btn{
    border: none;
    border-radius: 0;
    background: #d9d9d9;
    width: 100%;
    -webkit-transition:all .45s;
    transition:all .45s;
    padding: 20px 0
}
.drop-btn:hover{
    color: #c40008;
    background: #d9d9d9
}
.btn-primary.active.focus, .btn-primary.active:focus, 
.btn-primary.active:hover, .btn-primary:active.focus, 
.btn-primary:active:focus, .btn-primary:active:hover, 
.open>.dropdown-toggle.btn-primary.focus, 
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover{
    color: #c40008;
    background: #d9d9d9;
    border: none;
}

.btn-primary:hover{
    border: none;
    background: #d9d9d9
}

.btn-primary.active, .btn-primary:active, 
.open>.dropdown-toggle.btn-primary{
    background: #d9d9d9;
    border: none;
}
.drop-items{
    background: #e8e7e7;
    border-radius: 0;
    top: 94%;
    padding: 0
}
.dropdown-menu{
    border: none;
}

.open>.dropdown-menu{
    width: 100%;
    position: relative;
    margin-top: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,0);
    border: none;
    background: #d9d9d9
}

.dropdown-menu>li>a{
    padding: 20px 0;
    text-align: center;
    background: #e8e7e7
}

.down-caret{
    padding-left: 10px;
}
/*Service4*/

.servi-img{
    margin-bottom: 35px 
}

/*News Details*/

.realated-post{
    padding: 8px 15px;
    -webkit-transition: background .45s;
    transition: background .45s;
}
.realated-post:hover{
    background: #fff
}
.post-img{
    padding: 10px 0 0 15px;
}
.related-post-wrapp{
    padding: 0
}

.related-post-wrapp p{
    margin-bottom: 0
}

.post-side img{
    height: 525px
}

.serv-text-wrapp1{
    margin: 25px 0 90px 0;
}

/*Doctor*/

.doctor-inner{
    text-align: center;
    padding-top: 20px
}

.doctor-inner img{
    width: 170px;
    height: 170px;
    border-radius: 100%
}
.doctor-job{
    right: 0;
    left: 0;
    bottom: 0;
    background: #c5080e
}
.doctor-name{
    padding: 20px 0;
}
.job-name{
    margin: 0;
    padding: 5px;
    -webkit-transition: all .45s;
    transition: all .45s;
}
.doctor-inner img,.post-img{
    -webkit-transition: all .45s;
    transition: all .45s;
}

/*Some Effects*/
.fa-facebook:hover,.fa-twitter:hover,.fa-youtube:hover,.fa-linkedin:hover{
    background: transparent;
}
.fa-facebook:hover{
    color: #365899
}
.fa-twitter:hover{
    
    color: #1da1f2
}
.fa-youtube:hover{
    color: #cc181e
}
.fa-linkedin:hover{
    color: #006fa6
}
 .header-nav li a:hover,.imp-list li:hover,.our-branches a:hover{
    color: #c40008
 }
.quick-input:hover,.doctor-inner img:hover,.post-img:hover{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
 }
.input-group .form-control{
    width: 0%;
    -webkit-transition: all .45s;
    transition: all .45s;
    float: right;
    opacity: 0;
}

.input-group .form-control:hover,.input-group .form-control:active{
    width: 100%;
    opacity: 1
}
.our-branches a:first-of-type:hover{
    color: #fff
}
.job-name:hover{
    color: #333
}
.related-post-wrapp h4:hover{
    color: #333
}

.active-branch{
    background-color: #ffffff;
}

.hide-section-for-branch  {
    display: none ; 
}

.show-section-for-branch{
    display: inline-block; 
}

li.active{font-weight:400 ; background-color: #ffffff;}