
        <div class="overview-row">
        <h4>Triad of Essentials</h4>
          <div class="overview-image"><img src="images/overview.jpg" alt=""></div>
          <p>The concept of Zewail City of Science and Technology originated in 1999. Dr. Ahmed Zewail presented the idea and the road map for the Project to then-President Hosni Mubarak on the occasion of Egypt’s celebrations of Zewail’s Nobel Prize in Chemistry. Shortly after this meeting, 300 acres were assigned to what was then called the Zewail Foundation for Science and Technology. The cornerstone was laid on 1 January 2000 in the presence of then-Prime Minister (PM) Atef Ebeid in 6th of October City just outside Cairo. Ebeid appropriated a building to the Project in Cairo's Garden City for the board and administration offices.
Shortly afterwards, the subsequent Egyptian PM, Ahmed Nazif, dedicated 127 acres of this same land to build a private university. Due to legal violations, this land was returned to the government when PM Ahmed Shafik was the head of Cabinet. On 11 May 2011, following Egypt’s 25 January revolution, the Cabinet of Ministers issued a decree reassigning the land and buildings to the Zewail City of Science and Technology, dubbing it a National Project for Scientific Renaissance.</p>
        </div>
         <div class="overview-row">
        <h4>Triad of Essentials</h4>
          <div class="overview-image"><img src="images/overview2.jpg" alt=""></div>
          <p>The concept of Zewail City of Science and Technology originated in 1999. Dr. Ahmed Zewail presented the idea and the road map for the Project to then-President Hosni Mubarak on the occasion of Egypt’s celebrations of Zewail’s Nobel Prize in Chemistry. Shortly after this meeting, 300 acres were assigned to what was then called the Zewail Foundation for Science and Technology. The cornerstone was laid on 1 January 2000 in the presence of then-Prime Minister (PM) Atef Ebeid in 6th of October City just outside Cairo. Ebeid appropriated a building to the Project in Cairo's Garden City for the board and administration offices.
Shortly afterwards, the subsequent Egyptian PM, Ahmed Nazif, dedicated 127 acres of this same land to build a private university. Due to legal violations, this land was returned to the government when PM Ahmed Shafik was the head of Cabinet. On 11 May 2011, following Egypt’s 25 January revolution, the Cabinet of Ministers issued a decree reassigning the land and buildings to the Zewail City of Science and Technology, dubbing it a National Project for Scientific Renaissance.</p>
        </div>
         <div class="overview-row">
        <h4>Triad of Essentials</h4>
          <div class="overview-image"><img src="images/triad.jpg" alt=""></div>
          <p>The concept of Zewail City of Science and Technology originated in 1999. Dr. Ahmed Zewail presented the idea and the road map for the Project to then-President Hosni Mubarak on the occasion of Egypt’s celebrations of Zewail’s Nobel Prize in Chemistry. Shortly after this meeting, 300 acres were assigned to what was then called the Zewail Foundation for Science and Technology. The cornerstone was laid on 1 January 2000 in the presence of then-Prime Minister (PM) Atef Ebeid in 6th of October City just outside Cairo. Ebeid appropriated a building to the Project in Cairo's Garden City for the board and administration offices.
Shortly afterwards, the subsequent Egyptian PM, Ahmed Nazif, dedicated 127 acres of this same land to build a private university. Due to legal violations, this land was returned to the government when PM Ahmed Shafik was the head of Cabinet. On 11 May 2011, following Egypt’s 25 January revolution, the Cabinet of Ministers issued a decree reassigning the land and buildings to the Zewail City of Science and Technology, dubbing it a National Project for Scientific Renaissance.</p>
        </div>
    