 <ul class="col-md-6">
  <h2 class="c-red">Lab Advice <span class="c-grey">//</span></h2>  
  <li class="c-black">Lorem Ipsum is simply dummy text of the printing</li>
  <li class="c-black">Lorem Ipsum is simply dummy text of the printing</li>
  <li class="c-black">Lorem Ipsum is simply dummy text of the printing</li>
  <li class="c-black">Lorem Ipsum is simply dummy text of the printing</li>
</ul>

<ul class="col-md-6">
  <h2 class="c-red">Latest news <span class="c-grey">//</span></h2> 
  <li class="c-black">Lorem Ipsum is simply dummy text of the printing</li>
  <li class="c-black">Lorem Ipsum is simply dummy text of the printing</li>
  <li class="c-black">Lorem Ipsum is simply dummy text of the printing</li>
  <li class="c-black">Lorem Ipsum is simply dummy text of the printing</li>
</ul>