      <div>
        <ul class="col-md-5 service-shape list-inline left-shape ">
          <h2 class="text-left">Doctors services</h2>
          <p class="fa fa-angle-double-right"></p>
          <li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
          <p class="fa fa-angle-double-right"></p>
          <li>Lorem Ipsum is simply dummy text of</li>
          <p class="fa fa-angle-double-right"></p>
          <li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
          <p class="fa fa-angle-double-right"></p>
          <li>Lorem Ipsum is simply dummy text of theprint</li>
        </ul>
        
        <ul class="col-md-5 service-shape list-inline right-shape">
          <h2 class="text-left">Patient Services</h2>
          <p class="fa fa-angle-double-right"></p>
          <li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
          <p class="fa fa-angle-double-right"></p>
          <li>Lorem Ipsum is simply dummy text of</li>
          <p class="fa fa-angle-double-right"></p>
          <li>Lorem Ipsum is simply dummy text of the printing and typesetting </li>
          <p class="fa fa-angle-double-right"></p>
          <li>Lorem Ipsum is simply dummy text of theprint</li>
        </ul>
        </div>
       