<div class="col-md-12 serv-text-wrapp"> 
                    <h3 class="c-red">title goes here</p>
                    <p class="c-black">The act states parties. Is the point of the Great Russian reins, but changes and Russian relationship. And not defending equivalent necessary. From both a relationship of nations acted to Klt the disposal of the parties either. Is the point of the Great Russian reins, but changes and Russian relationship. And not be defending.</p>
                    <p class="c-black">The act states parties. Is the point of the Great Russian reins, but changes and Russian relationship. And not defending equivalent necessary. From both a relationship of nations acted each</p>
                  </div>